@import 'https://fonts.googleapis.com/css?family=Cormorant+Infant|Questrial';


body {
    padding: 20px;
    padding-left:40px;
/*    font-family: 'Helvetica', sans-serif;*/
/*font-family: 'Cormorant Infant', serif;*/
    font-size: 1em;
}
/*font-family: 'Cormorant Infant', serif;*/
/*    font-family: 'Open Sans', sans-serif;*/




.sidebar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;


}


.blog-footer {
    display:block;
    margin: auto;
    bottom: 0px;
    justify-content: center;
    width: 100%;

    padding-top: 10px;
/*    line-height: 200%;*/

}


.navlink {
    width: 100%;
    display:block;
    font-size: .8em;
    line-height: 300%;
    margin:20px;

}


.main-section {
    float:left;
    margin-left: 100px;
    max-width: 900px;
    width: 60%;
}

.page-wrapper:after {
  content: "";
  clear: both;
  display: table;
}

.blog-header {
/*    display: none;*/
    margin-bottom: 40px;
    font-size: 1em;

}


.blog-post {
    margin-bottom: 100px;
}

.blog-post-title {
    display: none;
}

img, iframe, object, embed {
    width: 1000px;
    max-width: 100%;

}

a {
    color: black;
    text-decoration:none;
    cursor: auto;

}
a:hover { 
/*    text-decoration: line-through;*/
    color: blue;
}


@media only screen and (max-width: 500px) {
    body {
        padding: 10px;

/*        background-color: lightblue;*/
    }

    iframe {
        max-height: 200px;
        max-width: 100%;
    }

    .main-section {
        margin-left: 0px;
        width: 100%;
    }



