@import 'https://fonts.googleapis.com/css?family=Cormorant+Infant|Questrial';


body {
    padding: 20px;
    padding-left:40px;
/*    font-family: 'Helvetica', sans-serif;*/
/*font-family: 'Cormorant Infant', serif;*/
    font-size: .9em;
}
/*font-family: 'Cormorant Infant', serif;*/
/*    font-family: 'Open Sans', sans-serif;*/




.sidebar {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


    max-width: 90%;
    margin-top: 35px;




}



.blog-footer {
    font-family: "Times New Roman", Times, serif;
    bottom: 40px;
    color:rgb(0, 0, 255);
    display:block;
    height:96px;
    letter-spacing:1px;
    line-height:38px;
    position:fixed;
    right:0px;
    text-align:left;
    text-decoration:none;
    visibility:visible;
    width:147.484px;
    z-index:auto
}

/*.blog-footer {
    display:block;
    margin: auto;
    bottom: 0px;
    justify-content: center;
    width: 100%;

    padding-top: 10px;
/*    line-height: 200%;*/

}*/


.navlink {
    width: 100%;
    display:block;
    font-size: .9em;


}


.main-section {
    float:left;
    margin-left: 100px;
    max-width: 900px;
    width: 60%;
}

.page-wrapper:after {
  content: "";
  clear: both;
  display: table;
}

.blog-header {
    display: fixed;

    font-size: 1em;

}


.blog-post {
    margin-bottom: 100px;
}

.blog-post-title {
    display: none;
}

img, iframe, object, embed {
    width: 1000px;
    max-width: 100%;

}

a {
    color: black;
    text-decoration:none;
}
a:hover { 
/*    text-decoration: line-through;*/
    color: blue;
    cursor: pointer;
    z-index: 2147483646;
}


@media only screen and (max-width: 500px) {
    body {
        padding: 10px;

/*        background-color: lightblue;*/
    }

    .sidebar {
        max-width: 100%;
        padding: 0px;
        margin: 0px;

    }

    iframe {
        max-height: 200px;
        max-width: 100%;
    }

    .main-section {
        margin-left: 0px;
        width: 100%;
    }

    .navlink {
        width: 100%;
        display:block;
        font-size: .9em;
        line-height: 300%;
        margin:0px;

    }

    .blog-footer {

        width:50px;

}
