@import 'https://fonts.googleapis.com/css?family=Cormorant+Infant|Questrial';
@import url('https://fonts.googleapis.com/css?family=Rubik');


body {
    padding: 20px;
    padding-left:40px;
    /*font-family: 'Rubik', sans-serif;*/
    font-family: 'Helvetica', sans-serif;
/*font-family: 'Cormorant Infant', serif;*/
    font-size: 1.2em;
    letter-spacing: 1px;
}

.sidebar {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin-top: 0px;
    padding: 0px 20px 20px;

}

.blog-footer {
    margin-right: 19px;
    width: 40px;
    height: 80px;
    bottom: 19px;
    display:block;
    position:fixed;
    right:0px;
    visibility:visible;
    z-index:auto;
    border-radius: 4px;
}


.navlink {
    width: 100%;
    display:block;
    font-size: .9em;
    color:blue;
}


.main-section {
    float:left;
    margin-left: 100px;
    max-width: 900px;
    width: 60%;
}

.page-wrapper:after {
  content: "";
  clear: both;
  display: none;
}

.blog-header {
    display: fixed;

    font-size: 1em;

}

.blog-post {
    margin-bottom: 100px;
}

.blog-post-title {
    display: none;
}

img, iframe, object, embed {
    width: 1000px;
    max-width: 100%;

}

a {
    color: black;
    text-decoration:none;
}
a:hover {
/*    text-decoration: line-through;*/
    color: blue;
    cursor: pointer;
    z-index: 2147483646;
}

.navlink:hover {
/*    text-decoration: line-through;*/
    color: black;
    cursor: pointer;
    z-index: 2147483646;
}


@media only screen and (max-width: 500px) {
    body {
        padding: 10px;

/*        background-color: lightblue;*/
    }

    .sidebar {
        max-width: 100%;
        margin: 0px;
        padding-top: 0px;

    }

    #statement {
        display: block;
        text-align: left;
        max-width: 900px;
        margin-bottom: 0px;
        /*width: 88%;*/
    }

    iframe {
        max-height: 200px;
        max-width: 100%;
    }

    .main-section {
        margin-left: 2px;
        width: 100%;
    }

    .navlink {
        width: 100%;
        display:block;
        font-size: .9em;
        line-height: 300%;
        margin:0px;

    }

    .blog-footer {

        padding: 2px;
        margin-right: 0px;
        width: 40px;
        height: 80px;

}
